body {
	margin: 0;
	font-family: sans-serif;
	background-color: #fffbb2;
}

.contenido {
	margin: 20px auto;
	padding: 0 20px;
}

input {
	font-family: sans-serif;
}

button {
	font-weight: 700;
	padding: 4px 8px;
	background-color: #860d00;
	color: white;
	cursor: pointer;
}